<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections/>-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WB_CFDI_V1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="FolderPath" value="Files/" />
  </appSettings>
  <connectionStrings/>
  <system.web>
      <httpRuntime maxRequestLength="52428800" enableKernelOutputCache="false" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <!--<forms loginUrl="Vistas/Login.aspx" defaultUrl="Vistas/Pag1.aspx" timeout="40"/>-->
      <forms loginUrl="Vistas/Login.aspx" defaultUrl="Default.aspx" timeout="40" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <webServices>
        <protocols>
            <add name="HttpGet" />
            <add name="HttpPost" />
        </protocols>
    </webServices>

  </system.web>

  
  <system.webServer>
    <caching enabled="false" enableKernelCache="false" />
  </system.webServer>

  <location path="Vistas">
    <system.web>
      <authorization>
        <!--<allow roles="admins"/>-->
        <deny users="?" />
        <!--<allow users = "*"/>-->
      </authorization>
    </system.web>
  </location>
  <!--<location path="Vistas">
      <system.web>
        <authorization>
          <deny users="*"/>
        </authorization>
      </system.web>
    </location>
  <location path="Vistas/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->


  <location path="Vistas/Pag5.aspx">
    <system.web>
      <authorization>
        <allow roles="4"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Vistas/Pag4.aspx">
    <system.web>
      <authorization>
        <allow roles="3"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Vistas/Pag3.aspx">
    <system.web>
      <authorization>
        <allow roles="2,3"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Vistas/Pag2.aspx">
    <system.web>
      <authorization>
        <allow roles="2"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Vistas/Pag1.aspx">
    <system.web>
      <authorization>
        <allow roles="1"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Vistas/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <WB_CFDI_V1.Properties.Settings>
      <setting name="WB_CFDI_V1_WS_CFDI_Validador" serializeAs="String">
        <value>http://cfdiee.com:8080/Validadorfull/Validador</value>
      </setting>
      <setting name="BD_HOST" serializeAs="String">
        <value>DELLR820</value>
      </setting>
      <setting name="BD_USER" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="BD_PASS" serializeAs="String">
        <value>M4st3erkey#</value>
      </setting>
      <setting name="BD" serializeAs="String">
        <value>CFDI_GENERAL</value>
      </setting>
      <setting name="PATH1" serializeAs="String">
        <value>WB_CFDI</value>
      </setting>
      <setting name="PATH2" serializeAs="String">
        <value>WB_CFDI2</value>
      </setting>
      <setting name="Cookie1" serializeAs="String">
        <value>WB_CFDI_EmpID_V1</value>
      </setting>
      <setting name="Cookie2" serializeAs="String">
        <value>WB_CFDI_ID_V1</value>
      </setting>
    </WB_CFDI_V1.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>