<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections/>-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WB_CFDI_V1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="FolderPath" value="Files/"/>
  </appSettings>
  <connectionStrings/>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="60"/>
    <httpRuntime maxRequestLength="52428800" enableKernelOutputCache="false"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Forms">
      <!--<forms loginUrl="Vistas/Login.aspx" defaultUrl="Vistas/Pag1.aspx" timeout="40" />-->
      <forms loginUrl="Vistas/Login.aspx" defaultUrl="Default.aspx" timeout="40"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <globalization uiCulture="es" culture="es-MX"/>
  </system.web>
  <system.webServer>
    <caching enabled="false" enableKernelCache="false"/>
  </system.webServer>
  <location path="Vistas">
    <system.web>
      <authorization>
        <!--<allow roles="admins"/>-->
        <deny users="?"/>
        <!--<allow users = "*"/>-->
      </authorization>
    </system.web>
  </location>
  <!--<location path="Vistas">
      <system.web>
        <authorization>
          <deny users="*"/>
        </authorization>
      </system.web>
    </location>
  <location path="Vistas/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="Vistas/Pag7.aspx">
    <system.web>
      <authorization>
        <allow roles="2,3"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vistas/Pag6.aspx">
    <system.web>
      <authorization>
        <allow roles="2,3"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vistas/Pag5.aspx">
    <system.web>
      <authorization>
        <allow roles="4"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vistas/Pag4.aspx">
    <system.web>
      <authorization>
        <allow roles="3"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vistas/Pag3.aspx">
    <system.web>
      <authorization>
        <allow roles="2,3,5"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vistas/Pag2.aspx">
    <system.web>
      <authorization>
        <allow roles="2,5"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vistas/Pag8.aspx">
    <system.web>
      <authorization>
        <allow roles="2,5"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vistas/Pag9.aspx">
    <system.web>
      <authorization>
        <allow roles="2,5"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vistas/Pag1.aspx">
    <system.web>
      <authorization>
        <allow roles="1"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vistas/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <WB_CFDI_V1.Properties.Settings>
      <setting name="WB_CFDI_V1_WS_CFDI_Validador" serializeAs="String">
        <value>http://cfdiee.com:8080/Validadorfull/Validador</value>
      </setting>
      <setting name="BD_HOST" serializeAs="String">
        <value>DESKTOP-FII314E</value>
      </setting>
      <setting name="BD_USER" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="BD_PASS" serializeAs="String">
        <value>%pwd%</value>
      </setting>
      <setting name="BD" serializeAs="String">
        <value>CFDI_GENERAL</value>
      </setting>
      <setting name="PATH1" serializeAs="String">
        <value>WB_CFDI</value>
      </setting>
      <setting name="PATH2" serializeAs="String">
        <value>WB_CFDI2</value>
      </setting>
      <setting name="Cookie1" serializeAs="String">
        <value>WB_CFDI_EmpID_V1</value>
      </setting>
      <setting name="Cookie2" serializeAs="String">
        <value>WB_CFDI_ID_V1</value>
      </setting>
      <setting name="PATH3" serializeAs="String">
        <value>WB_CFDI3</value>
      </setting>
      <setting name="PATH4" serializeAs="String">
        <value>WB_CFDI4</value>
      </setting>
      <setting name="WB_CFDI_V1_CFDI2_validarComprobantesCfdi" serializeAs="String">
        <value>https://www.facturemosya.com:443/webservice/recepcion.php</value>
      </setting>
    </WB_CFDI_V1.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>